/* HEADER */

.head-control {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}

/* TEXT */

h3, h4{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500; 
  font-size: 20px 
}

p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}

.shiny-html-output{
  text-align:left;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}

/* Top text */

.toptext{
  background-color: rgba(217,130,114,0.2);
  margin: 50px;
  margin-bottom: 10;
  border-style: outset;
  border-width: 5px;
  border-color: rgba(217,130,114,0.4);
  border-radius: 25px;
}

.toptext .shiny-html-output{
  margin: 20px;
}

.toptext p{
  margin: 20px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}
.toptext h5{
  margin: 25px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px 
}


/* NAVBAR */

.navbar{
  background-color: rgba(145,149,168,1);
}

.navbar-default .navbar-nav > li > a{
  color: rgba(255,255,255,1);
} 
 
 
/* body background */

body{
  background-color: rgba(0, 0, 0, 0.01);
}



/* Sidebarlayouts */

.well{
  border-style: outset;
  border-width: 5px;
  border-color: rgba(149,153,157,0.4);
  border-radius: 25px;
}

.sidebartext p{
  text-align: left;
}
.sidebartext h6{
  text-align: left;
  font-family: 'Roboto', sans-serif; 
  font-weight: bolder; 
  font-size: 14px 
}

#variable_info p, #overview_1 p, #overview_2 p{
  text-align: left;
  font-family: 'Roboto', sans-serif; 
}
#variable_info h5{
  font-weight: bold; 
}



/* plots errors and loading spinners */

#loading-spinner {
  position: absolute;
  padding-top: 20%;
  left: 50%;
  right: 50%;
  z-index: -1;
  margin-top: -33px;
  margin-left: -33px;
}
#plot-container{
  position: relative;
}
.plotly .html-widget .html-widget-output .shiny-bound-output .js-plotly-plot recalculating{
  z-index: -2;
}


.shiny-output-error{
  visibility: hidden;
}
.shiny-output-error:before{
  visibility: hidden;
}


/* HOME SCREEN BUTTONS */

.home_buttons {
  display: table;
  text-align: center;
  background-color: rgba(45,149,168,0.2);
  margin: 50px;
  margin-top: 10px;
  border-style: outset;
  border-width: 5px;
  border-color: rgba(45,149,168,0.4);
  border-radius: 25px;
}


.button-text{
  display: inline-table;
  width: 40%;
  margin: 15px;
  background-color: rgba(45,149,168,0.3);
  border-radius: 25px;
}

.button-text img{
  max-width: 100px;
  margin: 5px;
  display: table-row;
}

.button-text p{
  color: black;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  margin: 15px;
}

.button-text:hover{
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

#var_select2 .shiny-input-checkboxgroup{
  width: 100%;
}
#var_select2 .checkbox{
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
/* COMPARISON TAB */

#compare-top{
  text-align: center;
  background-color: rgba(45,149,168,0.2);
  border-style: outset;
  border-width: 5px;
  border-color: rgba(45,149,168,0.4);
  border-radius: 25px;
}
.compare-inputs{
  display: inline-table;
  vertical-align: middle;
  margin: 10px;
  width: 35%;
}
.compare-inputs-text{
  display: inline-table;
  vertical-align: middle;
  margin: 10px;
  width: auto;
}
.compare-inputs .shiny-input-container{
  width: 100%;
  word-wrap: break-word;
}
.compare-inputs .selectize-input{
  width: 100%;
}
.compare-row{
  display: table-row;
  width: 100%;
}

#compare-outputs p{
  margin: auto;
}



/* TABLE TABS */

.tvar{
  display: inline-table;
  width: auto;
}
div.tvar .selectize-input{
  min-height: 34px;
  max-height: 150px;
}

.tvar .form-group, .tvar .btn{
  display: inline-block;
  margin: 15px;
  vertical-align: middle;
}





/* help and info page content */

.questions p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px;
}

.questions{
  background-color: rgba(217,130,114,0.4);
  border-radius: 25px;
  width: 70%;
  margin: auto;
}
#hi1{
  background-color: rgba(45,149,168,0.2);
  border-color: rgba(45,149,168,0.4);
}
#hi2{
  background-color: rgba(217,130,114,0.2);
  border-color: rgba(217,130,114,0.4);
}
#hi3{
  background-color: rgba(114,217,130,0.2);
  border-color: rgba(114,217,130,0.4);
}

#stt_results{
  text-align: center;
}



