/* HEADER */

.head-control {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}

/* TEXT */

h3, h4{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500; 
  font-size: 20px 
}

p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}

.shiny-html-output{
  text-align:left;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}





/* Top text */

.toptext{
  background-color: rgba(217,130,114,0.2);
  margin: 50px;
  margin-bottom: 10;
  border-style: outset;
  border-width: 5px;
  border-color: rgba(217,130,114,0.4);
  border-radius: 25px;
}

.toptext .shiny-html-output{
  margin: 20px;
}

.toptext p{
  margin: 20px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}
.toptext h5{
  margin: 25px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px 
}

.questions p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px;
}

.questions{
  background-color: rgba(217,130,114,0.4);
  border-radius: 25px;
  width: 70%;
  margin: auto;
}

#hi1{
  background-color: rgba(45,149,168,0.2);
  border-color: rgba(45,149,168,0.4);
}
#hi2{
  background-color: rgba(217,130,114,0.2);
  border-color: rgba(217,130,114,0.4);
}
#hi3{
  background-color: rgba(114,217,130,0.2);
  border-color: rgba(114,217,130,0.4);
}









/* Sidebar */

.well{
  border-style: outset;
  border-width: 5px;
  border-color: rgba(149,153,157,0.4);
  border-radius: 25px;
}


.sidebartext p{
  text-align: left;
}

/* HOME SCREEN BUTTONS */

.home_buttons {
  display: table;
  text-align: center;
  background-color: rgba(45,149,168,0.2);
  margin: 50px;
  margin-top: 10px;
  border-style: outset;
  border-width: 5px;
  border-color: rgba(45,149,168,0.4);
  border-radius: 25px;
}


.button-text{
  display: inline-table;
  width: 40%;
  margin: 15px;
  background-color: rgba(45,149,168,0.3);
  border-radius: 25px;
}

.button-text img{
  max-width: 100px;
  margin: 5px;
  display: table-row;
}

.button-text p{
  color: black;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  margin: 15px;
}

.button-text h6{
  color: black;
  text-align: left;
  vertical-align: middle;
  display: table;
  font-weight: bold; 
  margin: 16px;
}

.button-text:hover{
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}




.navbar{
  background-color: rgba(145,149,168,1);
}

.navbar-default .navbar-nav > li > a{
  color: rgba(255,255,255,1);
} 
 
body{
  background-color: rgba(0, 0, 0, 0.01);
}

/* LIMIT SELECTIZE */
div.tvar .selectize-input{
  min-height: 34px;
  max-height: 150px;
}

.form-group{
  display: inline-block;
}
.tableopts{
  display: inline-block;
}


#stt_results{
  text-align: center;
}

#compare_inputs{
  margin: auto;
}
#compare_outputs p{
  width: 85%;
}
