/* HEADER */

.head-control {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}

/* GENERAL TEXT */

h3, h4{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500; 
  font-size: 20px 
}
p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}
/* for the rendered text objects */
.shiny-html-output{
  text-align:left;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}

/* NAVBAR */

.navbar{
  border-top: 7px solid #0065bd;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a{
  color: #333;
} 
.navbar-default .navbar-nav > li > a:hover{
  background-color: #f8f8f8;
}


/* body background */

body{
  background: #fff;
}



/* Sidebarlayouts */

.well{
  border-top: 8px solid #0065bd;
  border-bottom: 2px solid #b3b3b3;
}
.sidebartext p{
  text-align: left;
}
.sidebartext h6{
  text-align: left;
  font-family: 'Roboto', sans-serif; 
  font-weight: bolder; 
  font-size: 14px 
}
.variable_info p, #overview_1 p, #overview_2 p{
  text-align: left;
  font-family: 'Roboto', sans-serif; 
}
.variable_info h5{
  font-weight: bold; 
}



/* plots errors and loading spinners */

#loading-spinner {
  position: absolute;
  padding-top: 20%;
  left: 50%;
  right: 50%;
  z-index: -1;
  margin-top: -33px;
  margin-left: -33px;
}
#plot-container{
  position: relative;
}
.plotly .html-widget .html-widget-output .shiny-bound-output .js-plotly-plot recalculating{
  z-index: -2;
}


.shiny-output-error{
  visibility: hidden;
}
.shiny-output-error:before{
  visibility: hidden;
}


/* HOME SCREEN BUTTONS */
.home_allbuttons {
  display: table;
  text-align: center;
}
.home-button{
  display: inline-table;
  vertical-align: top;
  width: 20%;
  margin: 5px;
  border-top: 8px solid #0065bd;
}
.home-button:hover{
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
.button-head{
  display: inline-table;
  width: 100%;
  border-bottom: 1px solid #b3b3b3;
}
.button-head img{
  display: table-cell;
  width: 50px;
  text-align: left;
}
.button-head h4{
  display: table-cell;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.button-head h4:hover{
  color: #0065bd;
}
.home-button p{
  color: black;
  text-align: center;
  vertical-align: middle;
}


#indicators{
  margin: auto;
  display: table;
}
#natind1, #natind2, #natind3{
  display: inline-table;
  margin: auto;
  width: auto;
  text-align: center;
  vertical-align: bottom;
  width: 30%;
}
.ind{
  text-align: center;
}
.ind h5{
  font-family: 'Roboto', sans-serif; 
  font-weight: bolder; 
  font-size: 14px 
}
.ni{
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
}
.ni img{
  width: 100%;
  height: 100%;
  opacity: .8;
}

.ni h6{
  font-family: 'Roboto', sans-serif; 
  font-weight: 500; 
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 20%;
}

#home-toptext p{
  margin: 20px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; 
  font-size: 14px 
}
#questions p{
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px;
}
#questions{
  width: 70%;
  margin: auto;
}
#map{
  display: inline-block;
  vertical-align: top;
  width: 33%;
  min-width: 300px;
}
#map .shiny-input-container:not(.shiny-input-container-inline){
  width: 100%;
}
.leaflet-container{
  background: #fff;
}
#home-toptext{
  display: inline-block;
  width: 66%;
  border-bottom: 1px solid #b3b3b3;
}


/* COMPARISON TAB */

#compare-top{
  text-align: center;
  background-color: #f8f8f8;
  border-top: 8px solid #0065bd;
  border-bottom: 2px solid #b3b3b3;
}
.compare-inputs{
  display: inline-table;
  vertical-align: middle;
  margin: 10px;
  width: 35%;
}
.compare-inputs-text{
  display: inline-table;
  vertical-align: middle;
  margin: 10px;
  width: auto;
}
.compare-inputs .shiny-input-container{
  width: 100%;
  word-wrap: break-word;
}
.compare-inputs .selectize-input{
  width: 100%;
}
.compare-row{
  display: table-row;
  width: 100%;
}

/* TREND TABS */
div.plot-below .form-group, div.plot-below .shiny-input-container, div.plot-below .checkbox{
  display: inline-block;
}
.plot-below p{
  text-align: left;
}

/* TABLE TABS */

.tvar{
  display: inline-table;
  width: auto;
}
div.tvar .selectize-input{
  min-height: 34px;
  max-height: 150px;
}

.tvar .form-group, .tvar .btn{
  display: inline-block;
  margin: 15px;
  vertical-align: middle;
}





/* help and info page content */
.helptext{
  border-top: 8px solid #0065bd;
  border-bottom: 2px solid #b3b3b3;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}
.helptext p{
  margin: 20px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal; 
  font-size: 14px 
}
.helptext h5{
  margin: 25px;
  text-align:center;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
  font-size: 14px 
}
#stt_results{
  text-align: center;
}